<!DOCTYPE html> 
<html lang ="en">
<head> 

    {{> head  }}

{{#if production}}

    {{> assets-css  }}

{{else}}

    {{> assets-css-development  }}

{{/if}}

<!-- Admin Theme -->

<link rel="stylesheet" type="text/css" href="../assets/themes/supina/layout.css">
<link id="layout-color" rel="stylesheet" type="text/css" href="../assets/themes/supina/default/layout-color.css">
<link id="framework-color" rel="stylesheet" type="text/css" href="../assets/themes/supina/default/framework-color.css">
<link rel="stylesheet" type="text/css" href="../assets/themes/supina/border-radius.css">

<!-- Color Helpers CSS -->

<link rel="stylesheet" type="text/css" href="../assets/helpers/colors.css">

</head> 
    <body>
        <div id="loading"><img src="../assets/images/spinner/loader-dark.gif" alt="Loading..."></div>

        {{> body  }}

{{#if production}}

    {{> assets-js  }}

{{else}}

    {{> assets-js-development  }}

{{/if}}
        
    </body>
</html>
